* {
  font-family: Poppins;
}

.menu-link {
  text-align: left;
  font: normal normal normal 14px/21px Poppins !important;
  letter-spacing: -0.2px;
  color: #000000;
  text-transform: capitalize !important;
  opacity: 0.8;
  text-decoration: none;
  &::before,
  &::after {
    background: transparent !important;
  }
  &.v-btn--active,
  &:hover {
    background: #fef3df 0% 0% no-repeat padding-box !important;
    border-radius: 19px !important;

    font: normal normal 600 16px/25px Poppins !important;
    letter-spacing: -0.22px;
    color: #000000;
  }
}

.v-btn {
  text-transform: capitalize !important;
}
table > thead > tr {
  background: #fef5e6 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border-bottom: none !important;
  opacity: 1;
  th{
    text-align: left;
// font: normal normal normal 14px/21px Poppins;
font-size: 15px !important;
font-weight: bold;
letter-spacing: -0.2px;
color: #000000;

  }
}
.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr > td:not(.v-data-table__mobile-row), .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr > th:not(.v-data-table__mobile-row) {
   border-bottom: none !important;
   text-align: left;
font: normal normal normal 15px/21px Poppins;
letter-spacing: -0.2px;
color: #4D4D4D;
opacity: 1;
}
